{% extends "base.html" %}
{% block preheader %}A password reset was requested for your LifeLoop account.{% endblock %}
{% block heading %}Reset your password{% endblock %}
{% block content %}
<p style="margin:0 0 16px 0; font-size:16px; line-height:25px;">We received a request to reset the password for your LifeLoop account. Choose a new password using the link below. Signing in again will end your other sessions.</p>
{% endblock %}
{% block after_action %}<p style="margin:0; font-size:14px; line-height:22px; color:#5F6B76;">This link expires in {{ expires_in }} and can be used once. If you did not ask for this, ignore this email - your password has not changed.</p>{% endblock %}
